# .gitignore -- Projet PLBD-36

# Modeles ML (trop lourds pour Git)
modele/*.tflite
modele/*.pth
modele/*.onnx

# Environnement Python
__pycache__/
*.py[cod]
.Python
env/
venv/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log
logs/

# Fichiers systeme
.DS_Store
Thumbs.db
