# requirements.txt -- Dependances Python du projet PLBD-36
# Robot d'irrigation intelligent | Groupe 36 | Ecole Centrale Casablanca

# =========================================================
# RASPBERRY PI ZERO 2 W (a installer sur la vraie carte)
# =========================================================

# GPIO Raspberry Pi
RPi.GPIO>=0.7.1

# Camera Raspberry Pi
picamera2>=0.3.12

# Bus SPI pour MCP3008 (capteur humidite analogique)
spidev>=3.5

# =========================================================
# VISION PAR ORDINATEUR -- Inference sur Raspberry Pi
# =========================================================

# TensorFlow Lite (version legere pour Raspberry Pi Zero 2 W)
tflite-runtime>=2.13.0

# Traitement d'images
opencv-python-headless>=4.8.0
numpy>=1.24.0
Pillow>=10.0.0

# =========================================================
# UTILITAIRES
# =========================================================
pathlib2>=2.3.7
